@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1, h2 {
    @apply lg:mt-12 mt-12 text-4xl font-bold tracking-tight text-gray-900 sm:mt-10 md:text-6xl;
  }
}